altair==4.1.0
ansi2html==1.6.0
argon2-cffi==20.1.0
astor==0.8.1
astropy==4.2.1
async-generator==1.10
attrs==21.2.0
backcall==0.2.0
base58==2.1.0
bleach==3.3.0
blinker==1.4
Brotli==1.0.9
cachetools==4.2.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cmdstanpy==0.9.5
colorama==0.4.4
confuse==1.4.0
convertdate==2.3.2
cycler==0.10.0
Cython @ file:///D:/bld/cython_1618445502740/work
dash==1.20.0
dash-core-components==1.16.0
dash-html-components==1.1.3
dash-renderer==1.9.1
dash-table==4.11.3
decorator==4.4.2
defusedxml==0.7.1
entrypoints==0.3
ephem==3.7.7.1
fbprophet==0.7.1
Flask==1.1.2
Flask-Compress==1.9.0
Flask-Cors==3.0.10
future==0.18.2
gitdb==4.0.7
GitPython==3.1.17
hijri-converter==2.1.1
holidays==0.11.1
htmlmin==0.1.12
idna==2.10
ImageHash==4.2.0
importlib-resources==5.1.2
ipykernel==5.5.4
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
joblib==1.0.1
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-dash==0.4.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
korean-lunar-calendar==0.2.1
LunarCalendar==0.0.9
MarkupSafe==1.1.1
matplotlib==3.4.2
matplotlib-inline==0.1.2
missingno==0.4.2
mistune==0.8.4
mysql-connector-python==8.0.25
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5.1
notebook==6.3.0
numpy @ file:///D:/bld/numpy_1616933442622/work
ortools==8.0.8283
packaging==20.9
pandas==1.1.4
pandas-profiling==2.8.0
pandocfilters==1.4.3
parso==0.8.2
patsy==0.5.1
phik==0.11.2
pickleshare==0.7.5
Pillow==8.2.0
plotly==4.12.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.16.0
pycparser==2.20
pydeck==0.6.2
pyerfa==1.7.3
Pygments==2.9.0
PyMeeus==0.5.11
pyodbc==4.0.30
pyparsing==2.4.7
pyrsistent==0.17.3
pystan==2.19.1.1
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
pywin32==300
pywinpty==1.0.1
PyYAML==5.4.1
pyzmq==22.0.3
requests==2.25.1
retrying==1.3.3
scikit-learn==0.24.2
scipy==1.6.3
seaborn==0.11.1
Send2Trash==1.5.0
setuptools-git==1.2
six==1.16.0
smmap==4.0.0
statsmodels==0.12.2
streamlit==0.82.0
sweetviz==2.1.0
tangled-up-in-unicode==0.0.7
terminado==0.9.4
testpath==0.4.4
threadpoolctl==2.1.0
toml==0.10.2
toolz==0.11.1
tornado==6.1
tqdm==4.60.0
traitlets==5.0.5
tzlocal==2.1
urllib3==1.26.4
validators==0.18.2
visions==0.4.4
watchdog==2.1.1
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wincertstore==0.2
xgboost==1.4.1
